<div class="left-sidebar">
  <h2>Provincias</h2>
  <div class="panel-group category-products" id="accordian"><!--category-productsr-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">San José</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Alajuela</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Heredia</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Cartago</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Guanacaste</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Puntarenas</a></h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href="#">Limón</a></h4>
      </div>
    </div>
  </div><!--/category-products-->

  <div class="brands_products"><!--brands_products-->
    <h2>Categorías</h2>
    <div class="brands-name">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#"> <span class="pull-right">(50)</span>Livianos</a></li>
        <li><a href="#"> <span class="pull-right">(56)</span>Pesados</a></li>
        <li><a href="#"> <span class="pull-right">(27)</span>Refrigerados</a></li>
      </ul>
    </div>
  </div><!--/brands_products-->

</div>